.video-controls {
  position: absolute;
  bottom: 0;
  width: 100%;

  background: black;

  display: flex;
  justify-content: center;

  .controls-view {
    padding-bottom: 1.2rem;
    font-size: 2rem;
    display: flex;

    @include media('<medium') {
      font-size: 1.5rem;
    }

    .controls-icon {
      margin-left: 2rem;
      margin-right: 2rem;

      cursor: pointer;

      display: flex;
      align-items: center;

      @include media('<medium') {
        margin-left: 1rem;
        margin-right: 1rem;
        cursor: none;
      }

      &:active {
        color: $oc-gray-3;
      }
    }

    .controls-language {
      font-size: 1.5rem;
      user-select: none;

      @include media('<medium') {
        font-size: 1.1rem;
      }

      span {
        color: $oc-gray-4;
      }
    }
  }
}
