.login-form {
  .login-form-header {
    text-align: center;

    .header-name {
      font-size: 1.8rem;
      font-weight: bold;
      color: $main-color;
    }
  }

  .login-form-contents {
    padding-top: 1rem;
    padding-bottom: 1rem;

    h3 {
      text-align: center;
    }

    .form-wrap {
      margin-bottom: 0.4rem;

      .form-input {
        input {
          width: 360px;
          padding: 0.4rem 0.6rem;

          font-size: 1.2rem;
          border: 1px solid $oc-gray-3;
          border-radius: 4px;

          @include media("<medium") {
            width: auto;
          }
        }
      }
    }

    .login-button {
      margin-top: 1rem;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;

      background: $main-color;
      color: white;
      font-size: 1.2rem;
      font-weight: bold;

      border-radius: 4px;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      @include media("<medium") {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
      }
    }

    .bottom-button {
      margin-top: 0.4rem;

      display: flex;
      justify-content: flex-end;

      .bottom-text {
        margin-right: 0.4rem;
        color: $oc-gray-6;
      }

      .register-button {
        color: $oc-gray-7;
        text-decoration: underline;

        span {
          cursor: pointer;
        }
      }
    }

    .border-line {
      margin-top: 1rem;
      display: flex;
      align-items: center;

      .line {
        flex: 2;
        height: 0.1rem;
        background: $oc-gray-3;
      }

      .text {
        flex: 1;
        text-align: center;
        color: $oc-gray-6;
      }
    }

    .social-login {
      margin-top: 1rem;

      .facebook {
        background: #1971c2;
      }

      .google {
        background: #c92a2a;
      }

      .social-button {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        border-radius: 4px;

        font-size: 1.1rem;
        font-weight: bold;
        color: white;
        cursor: pointer;

        display: flex;
        align-items: center;

        @include media("<medium") {
          padding-top: 0.6rem;
          padding-bottom: 0.6rem;
        }

        .social-icon {
          padding-left: 1rem;
          padding-right: 1rem;

          display: flex;
          align-items: center;
        }

        .social-text {
          margin-right: 50px;
          flex: 1;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
