body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // overflow-y: scroll;
  overflow-x: hidden;
}

* {
  box-sizing: inherit;
}

input {
  all: unset;
  border: none;
}

ul {
  all: unset;
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  text-decoration: none;
  color: inherit;
}
