body {
  background: #f9f9f9;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: scroll;
}

* {
  box-sizing: inherit;
}

input {
  all: unset;
}

ul {
  all: unset;
}

a {
  all: unset;
}
