body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // overflow-y: scroll;
  overflow-x: hidden;
}

* {
  box-sizing: inherit;
}

input {
  all: unset;
  border: none;
}

ul {
  all: unset;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  all: unset;
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $oc-gray-5;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $oc-gray-6;
}
