.video-card-list {
  padding-top: 1rem;

  display: flex;
  flex-wrap: wrap;

  .video-card {
    margin-right: 1rem;
    margin-bottom: 1.5rem;

    @include media('<medium') {
      width: 100%;
      margin-right: 0;
    }

    .video-card-thumbnail {
      position: relative;
      min-width: 320px;
      min-height: 180px;

      background: black;
      border-radius: 4px;
      overflow: hidden;

      display: flex;
      align-items: center;

      @include media('<medium') {
        border-radius: 0;
        min-height: 202.5px;
      }

      width: 100%;

      img {
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        @include media('<medium') {
          width: 100%;
        }
      }

      .video-card-overaytime {
        position: absolute;
        right: 4px;
        bottom: 4px;
        padding-left: 0.3rem;
        padding-right: 0.3rem;

        border-radius: 4px;

        color: white;
        font-size: 0.8rem;
        background: rgba(0, 0, 0, 0.7);
      }
    }

    .video-card-contents {
      padding-top: 0.4rem;

      @include media('<medium') {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }

      .video-card-title {
        // font-size: 1.1rem;
        font-weight: bold;
      }

      .video-card-channel {
        color: $oc-gray-7;
        font-size: 0.9rem;
      }
    }
  }

  .list-loading {
    width: 100%;
    margin-top: 2rem;

    display: flex;
    justify-content: center;
  }
}
