ul {
  li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    display: flex;
    align-items: center;

    user-select: none;

    &:hover {
      background: $oc-gray-1;
    }

    .tag-wrap {
      display: flex;
      flex: 1;

      .tag-icon {
        width: 28px;
        height: 28px;
        margin-right: 0.5rem;

        background: #ff2f6e;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      .delete-icon {
        display: flex;
        align-items: center;
      }
    }
  }
}
