.side-menu {
  position: fixed;
  left: 0;
  top: 4rem;
  width: 300px;
  height: 100%;
  padding-top: 1rem;

  background: $oc-gray-1;

  border-right: 1px solid $oc-gray-3;

  @include media('<medium') {
    display: none;
  }

  ul {
    list-style: none;
    font-size: 1.1rem;

    .list-title {
      margin-top: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 0.5rem;

      border-top: 1px solid $oc-gray-4;

      font-size: 1rem;
      font-weight: bold;
    }

    li {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;

      display: flex;
      align-items: center;

      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background: $oc-gray-2;
      }

      &.active {
        background: $oc-gray-3;
      }
      .menu-icon {
        width: 30px;
        margin-right: 0.4rem;

        font-size: 1.5rem;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      .menu-img {
        position: relative;
        width: 30px;
        height: 30px;
        margin-right: 0.4rem;

        border-radius: 50%;

        overflow: hidden;
      }
    }
  }
}
