.search-box {
  position: absolute;
  width: 100%;
  top: 12.8rem;
  // left: 50%;
  // transform: translateX(-50%);

  display: flex;
  justify-content: center;

  .search-form {
    position: relative;
    .search-icon {
      position: absolute;
      left: 1rem;
      top: 0.7rem;
    }

    input {
      width: 500px;
      height: 2.7rem;
      padding: 0.2rem 1rem 0.2rem 3rem;

      border: 1px solid $oc-gray-3;
      border-radius: 4px;
      background: white;
      box-sizing: border-box;

      font-weight: bold;
      color: $oc-gray-8;

      @include material-shadow(1, 0.5);
      @include media('<medium') {
        width: 80%;
      }
    }

    input::placeholder {
      color: #747474;
    }
  }
}
