.search-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3rem;

  @include material-shadow(1, 0.5);

  .search-wrap {
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;

    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;

      font-size: 1.5rem;
      color: #747474;
    }

    .back-icon {
      margin-right: 1rem;
    }

    .search-form {
      width: 100%;
      padding-right: 1rem;

      input {
        width: 100%;
      }
    }
  }
}
