.profile {
  display: flex;
  justify-content: center;

  .profile-wrap {
    width: 400px;
    padding: 1rem;
    .profile-header {
      .user-wrap {
        padding-bottom: 0.5rem;

        display: flex;
        align-items: center;

        border-bottom: 1px solid $oc-gray-3;

        .user-info {
          flex: 1;

          .user-name {
            font-size: 1.2rem;
          }

          .user-email {
            font-size: 0.9rem;
            color: $oc-blue-6;
          }
        }

        .logout {
          color: $oc-gray-6;
          font-size: 0.9rem;
          cursor: pointer;
        }
      }
    }

    .profile-contents {
      .content {
        padding-top: 1rem;
        padding-bottom: 1rem;

        color: $oc-gray-6;
        font-size: 1.1rem;

        border-bottom: 1px solid $oc-gray-3;

        cursor: pointer;
      }
    }
  }
}
