@import 'utils/taglist';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 10;

  background: white;

  display: flex;
  align-items: center;

  @include material-shadow(1, 0.4);
  @include media('<medium') {
    height: 3rem;
  }

  .header-main {
    width: 100%;

    display: flex;
    align-items: center;

    .hm-logo {
      width: 300px;

      font-size: 1.4rem;
      font-weight: bold;
      color: #ff2f6e;

      @include media('<medium') {
        flex: 3;
      }

      a {
        cursor: pointer;
      }
    }

    .hm-search {
      display: flex;
      align-items: center;

      @include media('<medium') {
        display: none;
      }

      label {
        width: 400px;
        height: 2.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        border: 1px solid $oc-gray-3;
        border-radius: 4px;

        display: flex;
        align-items: center;

        .search-form {
          width: 100%;
          padding-left: 1rem;

          input {
            width: 100%;
            cursor: text;
          }
        }
      }

      .search-view {
        position: absolute;
        top: 3.3rem;
        width: 400px;
        min-height: 2rem;
        max-height: 15rem;
        padding: 0.5rem;

        overflow: auto;

        background: white;
        border: 1px solid $oc-gray-3;
        border-radius: 4px;

        .recent-tags {
          .contents-header {
            padding-bottom: 0.5rem;

            display: flex;

            .contents-title {
              flex: 1;
              color: $oc-gray-7;
            }

            .contents-clear {
              flex: 1;
              display: flex;
              justify-content: flex-end;

              color: $oc-gray-6;
              font-size: 0.9rem;

              span {
                cursor: pointer;
                user-select: none;
              }
            }
          }

          .tag-wrap {
            cursor: pointer;
          }

          .delete-icon {
            cursor: pointer;
          }
        }
      }
    }

    .hm-search-mobile {
      display: none;

      @include media('<medium') {
        padding: 1rem;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;

        span {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
