@import 'utils/keywordlist';

.search-contents {
  .recent-keywords {
    .contents-header {
      padding-top: 1rem;
      padding-bottom: 1rem;

      display: flex;
      align-items: center;

      .contents-title {
        flex: 1;
        color: $oc-gray-7;
      }

      .contents-clear {
        flex: 1;
        display: flex;
        justify-content: flex-end;

        color: $oc-gray-6;
        font-size: 0.9rem;

        user-select: none;
      }
    }
  }
}
