.video {
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100% - 12rem);
  height: 600px;
  transform: translateX(-50%);

  .video-wrap {
    position: relative;
    width: 100%;
    height: 100%;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
    }

    // .video-cover {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    // }
  }

  @include media("<wide") {
    height: 500px;
  }

  @include media('<large') {
    height: 360px;
  }

  @include media('<medium') {
    width: 100%;
    height: 230px;
    margin-top: 4rem;
  }
}
