.video-subtitle {
  position: absolute;
  top: 400px;
  width: 100%;

  user-select: none;

  display: flex;
  justify-content: center;

  @include media('<wide') {
    top: 500px;
  }

  @include media('<large') {
    top: 300px;
  }

  @include media('<medium') {
    top: calc(230px + 4rem);
  }

  .subtitle-contents {
    padding: 1rem;

    @include media('<medium') {
      padding: 0.5rem 1rem;
    }

    .before-start {
      padding: 1rem 2rem;
      font-size: 1.5rem;
      color: $oc-gray-2;
      text-align: center;

      @include media("<medium") {
        font-size: 1.2rem;
      }

      .bs-icon {
        margin-bottom: 1rem;

        color: $main-color;

        display: flex;
        justify-content: center;
      }
    }

    .front-subtitle {
      margin-bottom: 0.5rem;

      font-size: 1.8rem;

      @include media('<large') {
        font-size: 1.5rem;
      }

      @include media('<medium') {
        font-size: 1.3rem;
      }
    }

    .back-subtitle {
      font-size: 1.3rem;
      color: $oc-gray-4;

      @include media('<large') {
        font-size: 1.1rem;
      }

      @include media('<medium') {
        font-size: 1rem;
      }
    }

    .view-subtitle {
      span {
        color: $main-color;
      }
    }

    .words {
      margin-top: 2rem;
      color: $oc-gray-4;
      font-size: 0.9rem;

      .word {
        display: flex;

        .word-en {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
